#ifndef INCLUDE_MUCI_BSP_H_
    #define INCLUDE_MUCI_BSP_H_

    #include "stdint.h"
    #include "stdbool.h"

    #define MUCI_DATA_LENGTH    1024u
    #define MUCI_RECORDER_DATA_LENGTH       256u
    #define MUCI_RECORDER_CHANNEL_NUMBER    4u

    void MUCI_bsp_Reboot();
    uint16_t MUCI_bsp_CLEAR_FLASH_SECTOR(uint8_t FlashSectorNumber);
    uint16_t MUCI_bsp_PROGRAM_FLASH(uint32_t StartAddress, uint32_t Quantity, uint8_t* Data);
    uint16_t MUCI_bsp_READ_FLASH(uint32_t StartAddress, uint32_t Quantity, uint8_t* Data);
#endif /* INCLUDE_MUCI_BSP_H_ */
